
<div class="container d-flex justify-content-center p-3 position-relative">
  <div id="player"></div>
  <div class="img-vynil">
    <img id="vynil-bl"
    src="assets/vynil-1.png"
    alt="Vynil"
    class="img-fluid img-front vinyl-stop vinyl-rotating" [ngClass]="{'vinyl-paused': !isPaused}"
  />

  <img id="thumb"
  src="assets/vynil.png"
  alt="Thumbnail Image"
  class="thumb img-fluid vinyl-stop vinyl-rotating"
  [ngClass]="{'vinyl-paused': !isPaused}">
  </div>

</div>

<!-- Info container -->
<div class="container d-flex justify-content-center text-center">
  <div class="d-block mb-3">
    <h3>{{videoTitle}}</h3> <a class="btn" (click)="toggleFavorite()">
      <box-icon color="white" *ngIf="!isFavorited" type='solid' name='star' ></box-icon>
      <box-icon *ngIf="isFavorited" color="yellow" type='solid' name='star' ></box-icon>
    </a>
    <h4></h4>
    <h5><a href="{{'https://www.youtube.com/channel/' + videoChannelId}}" *ngIf='videoAuthor' target="_blank">[{{videoAuthor}}]</a></h5>
    <button type="button" class="btn btn-sm" (click)="isCollapsedInfo = !isCollapsedInfo"
        [attr.aria-expanded]="!isCollapsedInfo" aria-controls="collapseBasic"><box-icon color="white" name='expand-vertical'></box-icon>
</button>
<div id="collapseBasic" [collapse]="isCollapsedInfo" [isAnimated]="true">
  <div class="well well-lg card card-block card-header">
    <!-- Colapse para descrição longa -->
    <div *ngIf="videoDescription && videoDescription.length > 200" (click)="longDescriptionCollapsed = !longDescriptionCollapsed">
      <pre *ngIf="longDescriptionCollapsed"><b>Description:</b> {{ videoDescription.slice(0, 200) }}...</pre>
      <pre *ngIf="!longDescriptionCollapsed"><b>Description:</b> {{ videoDescription }}</pre>
    </div>
    <!-- Verifica o comprimento da descrição -->
    <ng-container *ngIf="videoDescription && videoDescription.length > 200">

    </ng-container>
    <p *ngIf="videoLanguage"><b>Language:</b> {{videoLanguage}}</p>
    <p *ngIf="formattedViews"><b>Views:</b> {{formattedViews}}</p>
    <p *ngIf="formattedDate"><b>Uploaded:</b> {{formattedDate}}</p>

  </div>
</div>
  </div>

</div>

<!-- Audio Progress Container -->
<div class="container audio-progress">

  <div class="progress-bar rounded bar" (click)="seekToPosition($event)">
    <div class="progress"></div>
  </div>

  <div class="row text-center">

    <div class="col">
      <p class="">{{ videoCurrentTime }}</p>
    </div>

    <div class="col-xl-10" *ngIf="!isMobile">

    </div>

    <div class="col" >
      <p class="">{{ videoDuration }}</p>
    </div>

  </div>

</div>

<!-- Buttons -->
<div class="container d-flex justify-content-center w-50">
  <div class="audio-btns d-flex flex-column ">

      <!-- Primary Buttons -->
      <div class="audio-btns p-2 flex-grow-1">

        <button (click)="previousVideo()" class="btn skip-back">
          <box-icon color="white" type='solid' name='left-arrow'></box-icon>
        </button>

        <button (click)="pauseVideo()" class="btn play" *ngIf="!isPaused">
          <box-icon size="md" color="white" name="play" *ngIf="!isPaused"></box-icon>
        </button>

        <button (click)="pauseVideo()" class="btn play" *ngIf="isPaused">
          <box-icon size="md" color="white" name="pause" *ngIf="isPaused"></box-icon>
        </button>

        <button (click)="skipSong()" class="btn skip-forward">
          <box-icon color="white" type='solid' name='right-arrow'></box-icon>
        </button>

      </div>

      <!-- Secondary Buttons -->
      <div class="audio-btns p-2 flex-grow-1">

        <!-- Playlist Slizer Button -->
        <a class="btn" (click)="isPlaylistCollapsed=!isPlaylistCollapsed">
          <box-icon color="white" type='solid' name='playlist'></box-icon>
        </a>

        <!-- Menu Collapse Button -->
        <button (click)="isCollapsed = !isCollapsed" class="btn">
          <box-icon color="white" name='menu' ></box-icon>
        </button>
        <div class="collapse navbar-collapse" [collapse]=isCollapsed [isAnimated]=true id="navbarNav">

            <a class="btn" (click)="openModal()" aria-current="page">
              <box-icon color="white" type='solid' name='down-arrow-circle'></box-icon>
            </a>

            <a class="btn" (click)="openTrash()">
              <box-icon color="white" type='solid' name='trash'></box-icon>
            </a>

            <a class="btn" (click)="isHided=!isHided">
                <box-icon color="white" *ngIf="isHided" type='solid' name='ghost'></box-icon>
                <box-icon color="white" *ngIf="!isHided" name='ghost'></box-icon>
            </a>

            <a class="btn" (click)="openPlaylistHub()">
              <box-icon color="white" type='solid' name='videos'></box-icon>
            </a>

        </div>

        <!-- Only Favorites Button -->
        <button (click)="onlyFav()" class="btn">
          <box-icon  color="white" type='solid' *ngIf="!isOnlyFav" name='star'></box-icon>
          <box-icon  color="yellow" type='solid' *ngIf="isOnlyFav" name='star'></box-icon>
        </button>

      </div>
  </div>
</div>

<!-- <br>
<button (click)="createYouTubePlayer()">cria</button><button (click)="destroyYouTubePlayer()">quebra</button> <button (click)="this.isLoadingChange.emit(false);">vsffff</button>
<h3>{{playlistFavorite | json}}</h3>
<br>
{{player | json}} -->
<!--
<div class="container d-flex justify-content-center w-50 cont-playlist" *ngIf=!isPlaylistCollapsed>
  <section id="playlist-sec">
     <ul class="playlist" style="height:140px;width:420px;overflow-y:hidden;overflow-x:auto;white-space: nowrap;scroll-snap-type: x mandatory;">
      <li *ngFor="let pl of playlist" [collapse]=isPlaylistCollapsed [isAnimated]=true >
        <img src="{{pl.playlistImg}}">
        <p>{{pl.name}}</p>
        <p id="p-length">{{pl.musics.length}}</p>
      </li>
    </ul>
</section>
</div> -->

<!-- Playlist Slider Component -->
<app-playlist-slider style="width: 100%; text-align: center; background-color: #0f0f0fbb; display: flex; justify-content: center; align-items: center;" [collapse]=isPlaylistCollapsed [isAnimated]=true></app-playlist-slider>

<!-- Volume -->
<div class="container d-flex justify-content-center w-50">
 <div class="d-flex">
        <a (click)="muted()" class="" >
          <box-icon color="white" *ngIf="isMuted" name='volume-mute'></box-icon>
          <box-icon color="white" *ngIf="volume==0 && !isMuted"name='volume'></box-icon>
          <box-icon color="white" *ngIf="volume<=50 && volume  > 0 && !isMuted"name='volume-low'></box-icon>
          <box-icon color="white" *ngIf="volume>50 && !isMuted"name='volume-full'></box-icon>
        </a>


        <label for="customRange1" class="form-label inv-border">
            <input type="range"
            class="form-range mx-0 "
            min="0" max="100"
            [(ngModel)]="volume"
            (input)="onVolumeChange(volume)">
        </label>


        <p class="cabo">{{volume}}%</p>
    </div>
</div>

