<div class="modal-header close-modal-container">

  <h4 class="modal-title">Import Song</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>

</div>
<div class="modal-body ">
  <!-- Conteúdo do Modal -->
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Youtube URL</label>
      <input [(ngModel)]="videoUrl"
      type="text" [ngClass]="{'is-invalid' : invalidUrl}" class="form-control" id="validationServer03" placeholder="Youtube URL" required>
      <div class="invalid-feedback" *ngIf="invalidUrl">
        Please provide a valid Youtube URL.
      </div>
    </div>
    <p>Favorite?</p>
    <div class="custom-control custom-radio custom-control-inline">
      <input [(ngModel)]="favorite" [value]="true" type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1">Yes</label>
      <input [(ngModel)]="favorite" [value]="false"type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">No</label>
    </div>

    <div *ngIf="videoId">
      <p>Video {{ videoName }} with the Id {{ videoId }} was added with success!</p>
      {{historyImport | json}}
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="extractVideoId()">Send</button>
</div>
