<div class="modal-header close-modal-container">

  <h4 class="modal-title">Delete Song</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>

</div>
<div class="modal-body ">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearchInput()" placeholder="Enter the Music Name">

      <div class="list-group" *ngFor="let result of searchResults">

        <a class="list-group-item list-group-item-action" data-toggle="button" (click)="deleteResult(result.songId)">
          {{ result.videoName }} {{ result.Channel}}
        </a>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">Send</button>
</div>
